<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCdZCkxd2EVZYqvtQLxfe_BJSqReyRVwCo</string>
	<key>GCM_SENDER_ID</key>
	<string>257670114620</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hostelFinder</string>
	<key>PROJECT_ID</key>
	<string>hostel-finder-46d54</string>
	<key>STORAGE_BUCKET</key>
	<string>hostel-finder-46d54.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:257670114620:ios:7d1770ec33fe6407058239</string>
</dict>
</plist>